@{
    ViewBag.Title = "About";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") <span class="divider"></span></li>
    <li>@ViewBag.Title</li>
</ul>

<div class="row">
    <div class="col-sm-12 text-center">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h3>Who are we?</h3>
        <p>We are group of people in love with Mario Kart racing game.</p>
        <p>Every Saturday (well more than a year now) we all meet and race.</p>
        <p>Sport advanced quickly in our comunity and now we have profesional points system and statistics.</p>
        <p>With amazing skill improvement stress levels become so high because one mistake can get you out of driver's seat.</p>
        <p>To be NO.1 and keep paying the game throughout whole Saturday is ultimate goal (There are only 4 driver seats)!</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <span class="label label-primary"> Competition format </span>
    </div>
    <div class="col-sm-12" style="margin-top: 10px">
        <p>1. Grand Prix format is 150 Gp</p>
        <p>2. Tournamenet consists of 5 Grand Prix </p>
        <p>3. Tournamenet winer is driver who has the most points from forementioned 5 Grand Prix </p>
        <p>4. Season consists of 22 tournaments</p>
        <p>5. Season winer is driver who has the most points from forementioned 22 tournaments</p>
        <p>6. There are 4 driver seats,qualifications decide who will have a seat</p>
        <p>7. Driver with slowest time on qualifications is not driving first Grand Prix of tournament</p>
    </div>
    <div class="col-sm-12">
        <span class="label label-danger"> Follow the rules! </span>
    </div>
    <div class="col-sm-12" style="margin-top: 10px">
        <p>1. All drivers use one Joycon for driving</p>
        <p>2. Turining assistance needs to be turned OFF</p>
        <p>3. Acceleration assistance needs to be turned OFF</p>
        <p>4. No driving is alowed outside of tournaments and qualifications</p>
        <p>5. Training is not alowed</p>
        <p>6. Tournament time will be anounced day before tournament</p>
        <p>7. Call time is 10 minutes after anounced tournament time</p>
        <p>8. Any driver who is not ahead of call time on venue loses seat</p>
        <p>9. In case that more than one driver is not on venue after call time, we go by the rule first IN has a seat</p>
        <p>10. In case that any of drivers FINISHED the race with "Turning Assistance" or "Acceleration assistance", he loses seat and all points from that Grand Prix</p>
    </div>
</div>


