@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MARIO KART TOURNAMENTS</h1>
    <p>We are fast!</p>
    @Html.ActionLink("Learn More", "About", "Home", null, new { @class = "btn btn-success" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MK 10 is under way</h2>
        <p>
            Who will win MK10: Who will be the last man standing!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Link where are you?</h2>
        <p>Comming from position no. 1 to position no.3 is an amazing blow to this franchise. Is GOAT chalenged?</p>
    </div>
    <div class="col-md-4">
        <h2>Future of Roy</h2>
        <p>Long time has passed since Roy qualified for first four seat. Will he sit at the table again? Stay tuned...</p>
    </div>
</div>